<div class="container">
  <div class="row p-5">
    <div class="col-md-6 center">
      <%= render 'shared/form_modal', title: model_action('article', 'new', 'subjective_case'), class_name: '' do %>
        <%= render 'articles/form' %>
      <% end %>
    </div>
  </div>
</div>
